* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #83e1d0;
  --dark: #350363;
  --background: #ffe9db;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
