@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Flamenco&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,500;1,500&family=Pacifico&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #83e1d0;
  --dark: #350363;
  --background: #ffe9db;
}

html {
  font-size: 62.5%;
  font-family: "Caveat", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #491579;
}

main {
  width: 30vw;
  text-align: center;
  background-color: var(--background);
  border: solid var(--dark);
  border-width: 0.8rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /* padding: 1rem 2rem; */
  color: #1f2933;
}

h2 {
  font-size: 2.5rem;
  padding-top: 1rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

img {
  width: 90%;
  max-height: 22rem;
  height: auto;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

button {
  min-width: 28rem;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  user-select: none;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.2) 0 1px 30px;
  transition-duration: 0.1s;
}
